## PLEASE READ: DATA DOWNLOAD

Ensure you have downloaded the `OSM Data Files` and the `VIC Localities Shape File` folder from our Google drive into the `/data/map` directory.

----

## Import Libraries

In [3]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point
from sklearn.preprocessing import LabelEncoder
import os

## Read in Files

#### OSM Shape Files

In [4]:
# Read in the shape files as a Geo dataframe 
# "..._area_..." - indicates features drawn as areas
# "..._line_..." - indicates features drawn as lines/points

landuse_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_landuse_a_free_1.shp')
roads_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_roads_free_1.shp')

# Dataframes which contain features of areas and points/lines
natural_area_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_natural_a_free_1.shp')
natural_line_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_natural_free_1.shp')

pofw_area_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_pofw_a_free_1.shp')
pofw_line_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_pofw_free_1.shp')

pois_area_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_pois_a_free_1.shp')
pois_line_gdf = gpd.read_file('../../data/map/OSM Data Files/gis_osm_pois_free_1.shp')

#### Other Files

In [5]:
vic_suburbs = gpd.read_file('../../data/map/VIC Localities Shape File/gda2020_vicgrid/esrishape/whole_of_dataset/victoria/VMADMIN/LOCALITY_POLYGON.shp')
properties_df = pd.read_csv('../../data/raw/scraped_properties.csv')

#### View the Dataframes

In [6]:
# OSM Dataframes
gdfs = {
    'landuse_gdf': landuse_gdf,
    'roads_gdf': roads_gdf,
    'natural_area_gdf': natural_area_gdf,
    'natural_line_gdf': natural_line_gdf,
    'pofw_area_gdf': pofw_area_gdf,
    'pofw_line_gdf': pofw_line_gdf,
    'pois_area_gdf': pois_area_gdf,
    'pois_line_gdf': pois_line_gdf
}

# View the details of each dataframe
for name, gdf in gdfs.items():
    print(f"\n---------------------------- {name} ----------------------------")
    # rename feature column
    gdf.rename(columns={'fclass': 'feature_class'}, inplace=True)
    print("Shape:", gdf.shape)
    print("Columns:", gdf.columns)
    print("Schema:")
    print(gdf.dtypes)
    print("First 5 rows:")
    print(gdf.head())
    print("Unique feauture values:")
    print(gdf['feature_class'].unique())

---------------------------- landuse_gdf ----------------------------
Shape: (490185, 5)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'geometry'], dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
geometry         geometry
dtype: object
First 5 rows:
    osm_id  code feature_class                           name  \
0  4018601  7202          park                  Anderson Park
1  4018602  7202          park                      Gold Park
2  4061402  7202          park                    Queens Park
3  4085520  7202          park             Ollie Webb Reserve
4  4282955  7202          park  Brisbane City Botanic Gardens

                                            geometry
0  POLYGON ((151.96054 -27.5783, 151.96054 -27.57...
1  POLYGON ((151.95151 -27.58105, 151.95153 -27.5...
2  POLYGON ((151.95787 -27.56136, 151.95788 -27.5...
3  POLYGON ((150.99548 -33.82277, 150.99557 -33.8...
4  POLYGON ((153.02744 -27.4747, 153.02773 -27.47...
Unique feauture values:
['park' 'recreation_ground' 'residential' 'industrial' 'commercial'
 'military' 'cemetery' 'forest' 'nature_reserve' 'retail' 'scrub' 'meadow'
 'grass' 'farmland' 'farmyard' 'quarry' 'heath' 'allotments' 'vineyard'
 'orchard']

---------------------------- roads_gdf ----------------------------
Shape: (2894420, 11)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'ref', 'oneway', 'maxspeed',
       'layer', 'bridge', 'tunnel', 'geometry'],
      dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
ref                object
oneway             object
maxspeed            int32
layer               int64
bridge             object
tunnel             object
geometry         geometry
dtype: object
First 5 rows:
    osm_id  code feature_class             name   ref oneway  maxspeed  layer  \
0  1881386  5122   residential       Anglo Road  None      F        50      0
1  1881388  5115      tertiary      Loch Street  None      B        50      0
2  1881389  5115      tertiary   Evaline Street  None      B        50      0
3  1881520  5115      tertiary  Clements Parade  None      B         0      0
4  1881523  5115      tertiary      Hotham Road  None      B         0      0

  bridge tunnel                                           geometry
0      F      F  LINESTRING (151.09791 -33.91319, 151.09902 -33...
1      F      F  LINESTRING (151.09771 -33.91284, 151.09775 -33...
2      F      F  LINESTRING (151.09783 -33.91554, 151.09785 -33...
3      F      F  LINESTRING (151.0804 -34.03458, 151.0803 -34.0...
4      F      F  LINESTRING (151.0804 -34.03458, 151.08043 -34....
Unique feauture values:
['residential' 'tertiary' 'secondary' 'primary' 'footway' 'service'
 'unclassified' 'tertiary_link' 'pedestrian' 'cycleway' 'trunk' 'path'
 'primary_link' 'motorway_link' 'steps' 'secondary_link' 'living_street'
 'motorway' 'track' 'busway' 'trunk_link' 'bridleway' 'track_grade3'
 'track_grade2' 'track_grade1' 'track_grade4' 'track_grade5' 'unknown']

---------------------------- natural_area_gdf ----------------------------
Shape: (7040, 5)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'geometry'], dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
geometry         geometry
dtype: object
First 5 rows:
    osm_id  code feature_class              name  \
0  4042219  4141         beach  Freshwater Beach
1  4042355  4141         beach     Dee Why Beach
2  4042505  4141         beach     Bilgola Beach
3  4044016  4141         beach  Warriewood Beach
4  4335014  4141         beach       Whale Beach

                                            geometry
0  POLYGON ((151.28911 -33.78233, 151.28913 -33.7...
1  POLYGON ((151.29679 -33.75261, 151.29681 -33.7...
2  POLYGON ((151.32709 -33.6466, 151.32718 -33.64...
3  POLYGON ((151.30826 -33.68926, 151.30879 -33.6...
4  POLYGON ((151.33089 -33.61265, 151.33106 -33.6...
Unique feauture values:
['beach' 'spring' 'cliff' 'peak' 'glacier' 'cave_entrance']

---------------------------- natural_line_gdf ----------------------------
Shape: (470843, 5)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'geometry'], dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
geometry         geometry
dtype: object
First 5 rows:
     osm_id  code  feature_class                  name  \
0  30499106  4111           peak        Mount Nameless
1  30880145  4111           peak      Mount Kosciuszko
2  30962323  4111           peak       Robertson Knoll
3  32555932  4132  cave_entrance     Cutta Cutta Caves
4  32760685  4111           peak  Coolangatta Mountain

                      geometry
0  POINT (117.76188 -22.71823)
1  POINT (148.26351 -36.45583)
2  POINT (151.04964 -34.07767)
3  POINT (132.47058 -14.57566)
4   POINT (150.7154 -34.84395)
Unique feauture values:
['peak' 'cave_entrance' 'spring' 'tree' 'beach' 'cliff' 'volcano']

---------------------------- pofw_area_gdf ----------------------------
Shape: (4090, 5)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'geometry'], dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
geometry         geometry
dtype: object
First 5 rows:
     osm_id  code       feature_class  \
0   4463645  3101  christian_anglican
1   8746568  3100           christian
2   9923245  3102  christian_catholic
3  13127644  3101  christian_anglican
4  15477564  3104  christian_lutheran

                                        name  \
0  St Barnabas Glen Waverley Anglican Church
1                      Syndal Baptist Church
2                             Saint Fidelius
3                     Saint Paul's Cathedral
4                      Saint Johns Southgate

                                            geometry
0  POLYGON ((145.17019 -37.8913, 145.17048 -37.88...
1  POLYGON ((145.14844 -37.87265, 145.14847 -37.8...
2  POLYGON ((144.9525 -37.75004, 144.95256 -37.74...
3  POLYGON ((144.96736 -37.81662, 144.96739 -37.8...
4  POLYGON ((144.96685 -37.82063, 144.96688 -37.8...
Unique feauture values:
['christian_anglican' 'christian' 'christian_catholic'
 'christian_lutheran' 'muslim' 'muslim_sunni' 'buddhist' 'jewish'
 'christian_methodist' 'sikh' 'christian_evangelical' 'hindu'
 'christian_protestant' 'christian_orthodox' 'muslim_shia' 'taoist']

---------------------------- pofw_line_gdf ----------------------------
Shape: (2811, 5)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'geometry'], dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
geometry         geometry
dtype: object
First 5 rows:
     osm_id  code       feature_class                                name  \
0  17029183  3100           christian        Seventh Day Adventist Church
1  18548772  3100           christian         GracePoint Christian Church
2  18556475  3100           christian        Randwick Presbyterian Church
3  18825536  3102  christian_catholic  St Vincent de Paul Catholic Church
4  19160811  3100           christian     St. John's Cathedral Parramatta

                      geometry
0  POINT (152.89777 -31.46688)
1  POINT (151.24191 -33.91902)
2  POINT (151.23947 -33.91259)
3   POINT (151.2026 -33.89272)
4   POINT (151.0027 -33.81587)
Unique feauture values:
['christian' 'christian_catholic' 'christian_anglican'
 'christian_lutheran' 'hindu' 'muslim' 'christian_evangelical'
 'christian_methodist' 'buddhist' 'muslim_shia' 'sikh'
 'christian_orthodox' 'jewish' 'christian_protestant' 'muslim_sunni']

---------------------------- pois_area_gdf ----------------------------
Shape: (264609, 5)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'geometry'], dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
geometry         geometry
dtype: object
First 5 rows:
    osm_id  code feature_class                     name  \
0  4000006  2252         pitch                     None
1  4018600  2255   golf_course           City Golf Club
2  4018601  2204          park            Anderson Park
3  4018602  2204          park                Gold Park
4  4049692  2256       stadium  Brisbane Cricket Ground

                                            geometry
0  POLYGON ((151.22401 -33.89168, 151.22401 -33.8...
1  POLYGON ((151.93965 -27.58154, 151.94012 -27.5...
2  POLYGON ((151.96054 -27.5783, 151.96054 -27.57...
3  POLYGON ((151.95151 -27.58105, 151.95153 -27.5...
4  POLYGON ((153.03663 -27.48593, 153.03667 -27.4...
Unique feauture values:
['pitch' 'golf_course' 'park' 'stadium' 'attraction' 'school' 'college'
 'graveyard' 'zoo' 'sports_centre' 'hospital' 'beverages' 'museum'
 'public_building' 'mall' 'playground' 'university' 'library' 'theatre'
 'swimming_pool' 'dog_park' 'supermarket' 'caravan_site'
 'wastewater_plant' 'town_hall' 'pub' 'picnic_site' 'courthouse' 'hotel'
 'tower' 'restaurant' 'prison' 'clinic' 'shelter' 'doityourself'
 'fast_food' 'market_place' 'camp_site' 'track' 'police' 'kindergarten'
 'theme_park' 'department_store' 'outdoor_shop' 'fire_station' 'cafe'
 'arts_centre' 'convenience' 'car_dealership' 'embassy' 'community_centre'
 'stationery' 'doctors' 'pharmacy' 'water_tower' 'tourist_info'
 'veterinary' 'archaeological' 'post_office' 'cinema' 'nursing_home'
 'monument' 'furniture_shop' 'motel' 'garden_centre' 'bakery' 'toilet'
 'ruins' 'hairdresser' 'kiosk' 'nightclub' 'bank' 'memorial' 'water_works'
 'newsagent' 'recycling' 'guesthouse' 'observation_tower' 'ice_rink'
 'dentist' 'computer_shop' 'beauty_shop' 'recycling_glass' 'sports_shop'
 'castle' 'hostel' 'chalet' 'bicycle_rental' 'car_wash' 'butcher'
 'clothes' 'viewpoint' 'car_rental' 'florist' 'lighthouse' 'bar'
 'comms_tower' 'fountain' 'windmill' 'gift_shop' 'toy_shop' 'jeweller'
 'bicycle_shop' 'bookshop' 'food_court' 'shoe_shop' 'video_shop' 'chemist'
 'artwork' 'fort' 'general' 'greengrocer' 'biergarten' 'drinking_water'
 'water_well' 'battlefield' 'travel_agent' 'recycling_metal'
 'recycling_paper' 'laundry' 'optician' 'camera_surveillance' 'water_mill'
 'alpine_hut' 'mobile_phone_shop' 'bench' 'post_box' 'hunting_stand'
 'car_sharing' 'recycling_clothes' 'atm' 'waste_basket']

---------------------------- pois_line_gdf ----------------------------
Shape: (250193, 5)
Columns: Index(['osm_id', 'code', 'feature_class', 'name', 'geometry'], dtype='object')
Schema:
osm_id             object
code                int32
feature_class      object
name               object
geometry         geometry
dtype: object
First 5 rows:
     osm_id  code   feature_class                       name  \
0   8592614  2903  drinking_water                       None
1   8594872  2742       viewpoint          Burragula Lookout
2  12219054  2742       viewpoint          Shipwreck Lookout
3  13757642  2301      restaurant  Singapore Famous BBQ Pork
4  13767762  2007         library             Ultimo Library

                      geometry
0  POINT (151.28476 -33.79908)
1  POINT (151.29842 -33.82322)
2   POINT (151.07836 -33.8346)
3  POINT (151.20391 -33.88078)
4  POINT (151.19777 -33.87796)
Unique feauture values:
['drinking_water' 'viewpoint' 'restaurant' 'library' 'bench' 'toilet'
 'memorial' 'attraction' 'artwork' 'post_box' 'monument' 'pub'
 'lighthouse' 'park' 'stadium' 'supermarket' 'tourist_info' 'arts_centre'
 'mall' 'playground' 'beverages' 'cafe' 'picnic_site' 'fast_food' 'police'
 'motel' 'theatre' 'bicycle_rental' 'hostel' 'hotel' 'bicycle_shop'
 'chemist' 'archaeological' 'post_office' 'market_place' 'bank' 'bar'
 'food_court' 'atm' 'recycling' 'cinema' 'museum' 'guesthouse' 'clothes'
 'telephone' 'bakery' 'pharmacy' 'clinic' 'beauty_shop' 'laundry'
 'caravan_site' 'department_store' 'fire_station' 'school' 'doctors'
 'butcher' 'dentist' 'convenience' 'greengrocer' 'public_building' 'ruins'
 'camp_site' 'tower' 'hospital' 'observation_tower' 'courthouse'
 'sports_centre' 'water_tower' 'community_centre' 'town_hall' 'alpine_hut'
 'car_wash' 'shelter' 'zoo' 'doityourself' 'outdoor_shop' 'stationery'
 'prison' 'golf_course' 'kindergarten' 'camera_surveillance' 'comms_tower'
 'college' 'swimming_pool' 'nightclub' 'fountain' 'waste_basket' 'general'
 'hairdresser' 'track' 'gift_shop' 'dog_park' 'pitch' 'travel_agent'
 'car_rental' 'veterinary' 'newsagent' 'vending_any' 'hunting_stand'
 'bookshop' 'wastewater_plant' 'university' 'car_dealership' 'chalet'
 'furniture_shop' 'sports_shop' 'recycling_glass' 'mobile_phone_shop'
 'optician' 'kiosk' 'computer_shop' 'shoe_shop' 'florist' 'garden_centre'
 'water_well' 'vending_parking' 'toy_shop' 'theme_park' 'embassy'
 'jeweller' 'video_shop' 'nursing_home' 'graveyard' 'car_sharing'
 'water_works' 'recycling_paper' 'vending_machine' 'recycling_clothes'
 'battlefield' 'castle' 'ice_rink' 'windmill' 'wayside_shrine'
 'recycling_metal' 'wayside_cross' 'fort' 'biergarten' 'water_mill']

------

# Preprocessing

#### Vic Suburbs Dataframe

In [7]:
# Rename 'GAZLOC' to gazetted locality
vic_suburbs['gazetted_locality'] = vic_suburbs['GAZLOC'].str.lower()

# Filter the dataframe to only include the gazetted localities and their geometries
vic_suburbs_filtered = vic_suburbs[['gazetted_locality', 'geometry']]

vic_suburbs_filtered.head()

  gazetted_locality                                           geometry
0       mollongghip  POLYGON ((2417354.185 2445906.94, 2417260.386 ...
1   north blackwood  POLYGON ((2445160.214 2452798.651, 2445239.392...
2            basalt  POLYGON ((2421860.482 2465074.51, 2421860.053 ...
3          llanelly  POLYGON ((2394406.798 2527031.044, 2394351.249...
4     murrabit west  POLYGON ((2397518.057 2666586.745, 2397393.211...

#### OSM Dataframes

In [8]:
# Stack Area and Point/Line Files into One File using the concat function
natural_gdf = pd.concat([natural_area_gdf, natural_line_gdf], ignore_index=True)
pofw_gdf = pd.concat([pofw_area_gdf, pofw_line_gdf], ignore_index=True)
pois_gdf = pd.concat([pois_area_gdf, pois_line_gdf], ignore_index=True)

In [9]:
print("\n----------------------------- Natural Combined GeoDataFrame -----------------------------")
print(natural_gdf.shape)
print(natural_gdf.head())

print("\n----------------------------- POFW Combined GeoDataFrame -----------------------------")
print(pofw_gdf.shape)
print(pofw_gdf.head())

print("\n----------------------------- POIs Combined GeoDataFrame -----------------------------")
print(pois_gdf.shape)
print(pois_gdf.head())

----------------------------- Natural Combined GeoDataFrame -----------------------------
(477883, 5)
    osm_id  code feature_class              name  \
0  4042219  4141         beach  Freshwater Beach
1  4042355  4141         beach     Dee Why Beach
2  4042505  4141         beach     Bilgola Beach
3  4044016  4141         beach  Warriewood Beach
4  4335014  4141         beach       Whale Beach

                                            geometry
0  POLYGON ((151.28911 -33.78233, 151.28913 -33.7...
1  POLYGON ((151.29679 -33.75261, 151.29681 -33.7...
2  POLYGON ((151.32709 -33.6466, 151.32718 -33.64...
3  POLYGON ((151.30826 -33.68926, 151.30879 -33.6...
4  POLYGON ((151.33089 -33.61265, 151.33106 -33.6...

----------------------------- POFW Combined GeoDataFrame -----------------------------
(6901, 5)
     osm_id  code       feature_class  \
0   4463645  3101  christian_anglican
1   8746568  3100           christian
2   9923245  3102  christian_catholic
3  13127644  3101  christian_anglican
4  15477564  3104  christian_lutheran

                                        name  \
0  St Barnabas Glen Waverley Anglican Church
1                      Syndal Baptist Church
2                             Saint Fidelius
3                     Saint Paul's Cathedral
4                      Saint Johns Southgate

                                            geometry
0  POLYGON ((145.17019 -37.8913, 145.17048 -37.88...
1  POLYGON ((145.14844 -37.87265, 145.14847 -37.8...
2  POLYGON ((144.9525 -37.75004, 144.95256 -37.74...
3  POLYGON ((144.96736 -37.81662, 144.96739 -37.8...
4  POLYGON ((144.96685 -37.82063, 144.96688 -37.8...

----------------------------- POIs Combined GeoDataFrame -----------------------------
(514802, 5)
    osm_id  code feature_class                     name  \
0  4000006  2252         pitch                     None
1  4018600  2255   golf_course           City Golf Club
2  4018601  2204          park            Anderson Park
3  4018602  2204          park                Gold Park
4  4049692  2256       stadium  Brisbane Cricket Ground

                                            geometry
0  POLYGON ((151.22401 -33.89168, 151.22401 -33.8...
1  POLYGON ((151.93965 -27.58154, 151.94012 -27.5...
2  POLYGON ((151.96054 -27.5783, 151.96054 -27.57...
3  POLYGON ((151.95151 -27.58105, 151.95153 -27.5...
4  POLYGON ((153.03663 -27.48593, 153.03667 -27.4...

## Filter for the Areas within the Victoria Region

In [10]:
# Ensure all OSM files are geodataframes and convert every gdf to the correct CRS
vic_suburbs_gdf = vic_suburbs.to_crs(epsg=4326)
gdfs = {
    'landuse_gdf': gpd.GeoDataFrame(landuse_gdf).to_crs(epsg=4326),
    'roads_gdf': gpd.GeoDataFrame(roads_gdf).to_crs(epsg=4326),
    'natural_gdf': gpd.GeoDataFrame(natural_gdf).to_crs(epsg=4326),
    'pofw_gdf': gpd.GeoDataFrame(pofw_gdf).to_crs(epsg=4326),
    'pois_gdf': gpd.GeoDataFrame(pois_gdf).to_crs(epsg=4326)
}

# Spatial join and filter features that fall within suburb geometries (based on areas that intersect)
def filter_vic_region(gdf, suburbs_gdf):
    filtered_gdf = gpd.sjoin(gdf, suburbs_gdf, how='inner', predicate='intersects')
    return filtered_gdf

# Filter each gdf and store in filtered_gdfs
filtered_gdfs = {}
for name, gdf in gdfs.items():
    filtered_gdfs[name] = filter_vic_region(gdf, vic_suburbs_gdf)

# Display the filtered gdfs
for name, gdf in filtered_gdfs.items():
    print(f"\n----------------------------- Filtered {name} -----------------------------")
    print("Shape after filtering:", gdf.shape)
    print(gdf.head())

----------------------------- Filtered landuse_gdf -----------------------------
Shape after filtering: (142310, 17)
     osm_id  code feature_class                      name  \
61  4394426  7202          park                      None
62  4396215  7202          park  Scotchmans Creek Reserve
63  4396215  7201        forest  Scotchmans Creek Reserve
64  4396376  7202          park  Scotchmans Creek Reserve
65  4472473  7202          park            Bogong Reserve

                                             geometry  index_right        UFI  \
61  POLYGON ((145.14888 -37.87904, 145.14899 -37.8...         1815  767125259
62  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...         1815  767125259
63  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...         1815  767125259
64  POLYGON ((145.14971 -37.88515, 145.15003 -37.8...         1815  767125259
65  POLYGON ((145.15571 -37.88091, 145.15578 -37.8...         1815  767125259

          PFI       LOCALITY         GAZLOC  VICNAMESID  TASK_ID     PFI_CR  \
61  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
62  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
63  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
64  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
65  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27

      UFI_OLD     UFI_CR  LABEL_USE_ gazetted_locality
61  756167888 2023-06-13           5     glen waverley
62  756167888 2023-06-13           5     glen waverley
63  756167888 2023-06-13           5     glen waverley
64  756167888 2023-06-13           5     glen waverley
65  756167888 2023-06-13           5     glen waverley

----------------------------- Filtered roads_gdf -----------------------------
Shape after filtering: (852590, 23)
       osm_id  code feature_class              name   ref oneway  maxspeed  \
1880  4080210  5113       primary   Camberwell Road    30      B        40
1881  4080211  5113       primary   Glenferrie Road    19      B        40
1882  4080212  5115      tertiary  Wakefield Street  None      B         0
1883  4080213  5115      tertiary    William Street  None      B         0
1884  4080216  5113       primary      Burwood Road    30      B        60

      layer bridge tunnel  ...        PFI       LOCALITY         GAZLOC  \
1880      0      F      F  ...  205410190  HAWTHORN EAST  HAWTHORN EAST
1881      0      F      F  ...  205410035       HAWTHORN       HAWTHORN
1882      0      F      F  ...  205410035       HAWTHORN       HAWTHORN
1883      0      F      F  ...  205410035       HAWTHORN       HAWTHORN
1884      1      T      F  ...  205410035       HAWTHORN       HAWTHORN

     VICNAMESID TASK_ID     PFI_CR    UFI_OLD     UFI_CR LABEL_USE_  \
1880     101437     NaN 2005-09-27  722529002 2023-03-27          5
1881     101436     NaN 2005-09-27  722529001 2023-03-27          5
1882     101436     NaN 2005-09-27  722529001 2023-03-27          5
1883     101436     NaN 2005-09-27  722529001 2023-03-27          5
1884     101436     NaN 2005-09-27  722529001 2023-03-27          5

      gazetted_locality
1880      hawthorn east
1881           hawthorn
1882           hawthorn
1883           hawthorn
1884           hawthorn

[5 rows x 23 columns]

----------------------------- Filtered natural_gdf -----------------------------
Shape after filtering: (251567, 17)
       osm_id  code feature_class                  name  \
96   23626206  4141         beach          Berrys Beach
102  25322648  4141         beach          Smiths Beach
112  25735265  4141         beach  Sorrento Ocean Beach
132  27829402  4141         beach        Brighton Beach
136  28186464  4141         beach      Summerland Beach

                                              geometry  index_right  \
96   POLYGON ((145.20014 -38.51713, 145.2008 -38.51...         2553
102  POLYGON ((145.25259 -38.50482, 145.25299 -38.5...         2620
112  POLYGON ((144.72577 -38.34608, 144.72597 -38.3...         2351
132  POLYGON ((144.98556 -37.9264, 144.98559 -37.92...           61
136  POLYGON ((145.14956 -38.51159, 145.14985 -38.5...         2553

           UFI        PFI      LOCALITY        GAZLOC  VICNAMESID  TASK_ID  \
96   804193115  205408955       VENTNOR       VENTNOR      103154      NaN
102  804193126  205410350  SMITHS BEACH  SMITHS BEACH      102763      NaN
112  776340602  205409982      SORRENTO      SORRENTO      102777      NaN
132  830094933  205409918      BRIGHTON      BRIGHTON      100496      NaN
136  804193115  205408955       VENTNOR       VENTNOR      103154      NaN

        PFI_CR    UFI_OLD     UFI_CR  LABEL_USE_ gazetted_locality
96  2005-09-27  468967555 2023-10-09           5           ventnor
102 2005-09-27  468967586 2023-10-09           5      smiths beach
112 2005-09-27  468967416 2023-06-26           5          sorrento
132 2005-09-27  743233309 2024-02-12           5          brighton
136 2005-09-27  468967555 2023-10-09           5           ventnor

----------------------------- Filtered pofw_gdf -----------------------------
Shape after filtering: (1684, 17)
     osm_id  code       feature_class  \
0   4463645  3101  christian_anglican
1   8746568  3100           christian
2   9923245  3102  christian_catholic
3  13127644  3101  christian_anglican
4  15477564  3104  christian_lutheran

                                        name  \
0  St Barnabas Glen Waverley Anglican Church
1                      Syndal Baptist Church
2                             Saint Fidelius
3                     Saint Paul's Cathedral
4                      Saint Johns Southgate

                                            geometry  index_right        UFI  \
0  POLYGON ((145.17019 -37.8913, 145.17048 -37.88...         1815  767125259
1  POLYGON ((145.14844 -37.87265, 145.14847 -37.8...         1815  767125259
2  POLYGON ((144.9525 -37.75004, 144.95256 -37.74...         2287  795742104
3  POLYGON ((144.96736 -37.81662, 144.96739 -37.8...         2057  777758969
4  POLYGON ((144.96685 -37.82063, 144.96688 -37.8...         1921  743233293

         PFI       LOCALITY         GAZLOC  VICNAMESID  TASK_ID     PFI_CR  \
0  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
1  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
2  205409989         COBURG         COBURG      100791      NaN 2005-09-27
3  205410007      MELBOURNE      MELBOURNE      102000      NaN 2005-09-27
4  205410296      SOUTHBANK      SOUTHBANK      102786      NaN 2005-09-27

     UFI_OLD     UFI_CR  LABEL_USE_ gazetted_locality
0  756167888 2023-06-13           5     glen waverley
1  756167888 2023-06-13           5     glen waverley
2  734079778 2023-09-01           5            coburg
3  743233290 2023-07-03           5         melbourne
4  729544619 2023-04-17           5         southbank

----------------------------- Filtered pois_gdf -----------------------------
Shape after filtering: (135592, 17)
     osm_id  code  feature_class                                   name  \
95  4394426  2204           park                                   None
96  4396215  2204           park               Scotchmans Creek Reserve
97  4396376  2204           park               Scotchmans Creek Reserve
98  4406966  2251  sports_centre  Monash Acquatic and Recreation Centre
99  4463035  2084        college                Victoria Police Academy

                                             geometry  index_right        UFI  \
95  POLYGON ((145.14888 -37.87904, 145.14899 -37.8...         1815  767125259
96  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...         1815  767125259
97  POLYGON ((145.14971 -37.88515, 145.15003 -37.8...         1815  767125259
98  POLYGON ((145.15462 -37.88899, 145.15481 -37.8...         1815  767125259
99  POLYGON ((145.17156 -37.89345, 145.17195 -37.8...         1815  767125259

          PFI       LOCALITY         GAZLOC  VICNAMESID  TASK_ID     PFI_CR  \
95  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
96  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
97  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
98  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27
99  205409628  GLEN WAVERLEY  GLEN WAVERLEY      101271      NaN 2005-09-27

      UFI_OLD     UFI_CR  LABEL_USE_ gazetted_locality
95  756167888 2023-06-13           5     glen waverley
96  756167888 2023-06-13           5     glen waverley
97  756167888 2023-06-13           5     glen waverley
98  756167888 2023-06-13           5     glen waverley
99  756167888 2023-06-13           5     glen waverley

## Filter Features

In [11]:
# Keep the columns of feature_class, gazetted_locality and geometry in each gdf but in pois_gdf also keep the code
for name, gdf in filtered_gdfs.items():
    if name == 'pois_gdf':
        columns = [col for col in ['feature_class', 'gazetted_locality', 'geometry', 'code'] if col in gdf.columns]
    else:
        columns = [col for col in ['feature_class', 'gazetted_locality', 'geometry'] if col in gdf.columns]
        
    filtered_gdfs[name] = gdf[columns]

In [12]:
# View the unique features in the dataframes
for name, gdf in filtered_gdfs.items():
    print(f"\n---------------------------- {name} ----------------------------")
    print(gdf.shape)
    print("Features:")
    print(gdf['feature_class'].unique())
    print(gdf.head())

---------------------------- landuse_gdf ----------------------------
(142310, 3)
Features:
['park' 'forest' 'cemetery' 'industrial' 'retail' 'residential'
 'recreation_ground' 'nature_reserve' 'commercial' 'allotments' 'grass'
 'quarry' 'military' 'vineyard' 'scrub' 'farmyard' 'farmland' 'meadow'
 'heath' 'orchard']
   feature_class gazetted_locality  \
61          park     glen waverley
62          park     glen waverley
63        forest     glen waverley
64          park     glen waverley
65          park     glen waverley

                                             geometry
61  POLYGON ((145.14888 -37.87904, 145.14899 -37.8...
62  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...
63  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...
64  POLYGON ((145.14971 -37.88515, 145.15003 -37.8...
65  POLYGON ((145.15571 -37.88091, 145.15578 -37.8...

---------------------------- roads_gdf ----------------------------
(852590, 3)
Features:
['primary' 'tertiary' 'secondary' 'residential' 'trunk' 'motorway_link'
 'cycleway' 'motorway' 'trunk_link' 'service' 'unclassified' 'pedestrian'
 'path' 'footway' 'primary_link' 'secondary_link' 'tertiary_link' 'track'
 'track_grade3' 'steps' 'track_grade2' 'living_street' 'track_grade4'
 'track_grade1' 'track_grade5' 'bridleway' 'busway' 'unknown']
     feature_class gazetted_locality  \
1880       primary     hawthorn east
1881       primary          hawthorn
1882      tertiary          hawthorn
1883      tertiary          hawthorn
1884       primary          hawthorn

                                               geometry
1880  LINESTRING (145.05555 -37.83032, 145.05561 -37...
1881  LINESTRING (145.03561 -37.82122, 145.03562 -37...
1882  LINESTRING (145.03701 -37.8206, 145.03736 -37....
1883  LINESTRING (145.03971 -37.82313, 145.03972 -37...
1884  LINESTRING (145.02378 -37.82126, 145.02384 -37...

---------------------------- natural_gdf ----------------------------
(251567, 3)
Features:
['beach' 'cliff' 'cave_entrance' 'peak' 'tree' 'spring' 'volcano']
    feature_class gazetted_locality  \
96          beach           ventnor
102         beach      smiths beach
112         beach          sorrento
132         beach          brighton
136         beach           ventnor

                                              geometry
96   POLYGON ((145.20014 -38.51713, 145.2008 -38.51...
102  POLYGON ((145.25259 -38.50482, 145.25299 -38.5...
112  POLYGON ((144.72577 -38.34608, 144.72597 -38.3...
132  POLYGON ((144.98556 -37.9264, 144.98559 -37.92...
136  POLYGON ((145.14956 -38.51159, 145.14985 -38.5...

---------------------------- pofw_gdf ----------------------------
(1684, 3)
Features:
['christian_anglican' 'christian' 'christian_catholic'
 'christian_lutheran' 'muslim' 'jewish' 'christian_orthodox' 'buddhist'
 'muslim_sunni' 'christian_evangelical' 'sikh' 'christian_protestant'
 'hindu' 'muslim_shia' 'taoist' 'christian_methodist']
        feature_class gazetted_locality  \
0  christian_anglican     glen waverley
1           christian     glen waverley
2  christian_catholic            coburg
3  christian_anglican         melbourne
4  christian_lutheran         southbank

                                            geometry
0  POLYGON ((145.17019 -37.8913, 145.17048 -37.88...
1  POLYGON ((145.14844 -37.87265, 145.14847 -37.8...
2  POLYGON ((144.9525 -37.75004, 144.95256 -37.74...
3  POLYGON ((144.96736 -37.81662, 144.96739 -37.8...
4  POLYGON ((144.96685 -37.82063, 144.96688 -37.8...

---------------------------- pois_gdf ----------------------------
(135592, 4)
Features:
['park' 'sports_centre' 'college' 'school' 'graveyard' 'beverages' 'zoo'
 'hospital' 'golf_course' 'pitch' 'attraction' 'museum' 'public_building'
 'mall' 'supermarket' 'university' 'town_hall' 'pub' 'picnic_site'
 'stadium' 'playground' 'clinic' 'fast_food' 'library' 'hotel' 'theatre'
 'police' 'kindergarten' 'theme_park' 'courthouse' 'cafe' 'arts_centre'
 'doityourself' 'market_place' 'camp_site' 'swimming_pool' 'stationery'
 'doctors' 'pharmacy' 'department_store' 'caravan_site' 'restaurant'
 'monument' 'furniture_shop' 'outdoor_shop' 'fire_station'
 'community_centre' 'garden_centre' 'dog_park' 'cinema' 'convenience'
 'post_office' 'wastewater_plant' 'track' 'hairdresser' 'toilet' 'kiosk'
 'prison' 'nursing_home' 'car_dealership' 'tourist_info' 'recycling'
 'nightclub' 'archaeological' 'guesthouse' 'observation_tower' 'shelter'
 'ruins' 'bank' 'dentist' 'motel' 'recycling_glass' 'ice_rink' 'hostel'
 'tower' 'car_wash' 'memorial' 'butcher' 'computer_shop' 'bakery'
 'water_works' 'car_rental' 'comms_tower' 'water_tower' 'bicycle_shop'
 'food_court' 'shoe_shop' 'video_shop' 'florist' 'artwork' 'clothes' 'bar'
 'veterinary' 'general' 'chemist' 'bookshop' 'biergarten' 'gift_shop'
 'fort' 'toy_shop' 'sports_shop' 'greengrocer' 'travel_agent'
 'beauty_shop' 'newsagent' 'laundry' 'optician' 'jeweller' 'fountain'
 'chalet' 'lighthouse' 'viewpoint' 'alpine_hut' 'embassy'
 'mobile_phone_shop' 'recycling_paper' 'recycling_metal' 'hunting_stand'
 'water_well' 'bicycle_rental' 'car_sharing' 'atm' 'castle' 'water_mill'
 'bench' 'windmill' 'post_box' 'drinking_water' 'telephone'
 'camera_surveillance' 'vending_any' 'waste_basket' 'vending_machine'
 'battlefield' 'recycling_clothes' 'vending_parking' 'wayside_shrine'
 'wayside_cross']
    feature_class gazetted_locality  \
95           park     glen waverley
96           park     glen waverley
97           park     glen waverley
98  sports_centre     glen waverley
99        college     glen waverley

                                             geometry  code
95  POLYGON ((145.14888 -37.87904, 145.14899 -37.8...  2204
96  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...  2204
97  POLYGON ((145.14971 -37.88515, 145.15003 -37.8...  2204
98  POLYGON ((145.15462 -37.88899, 145.15481 -37.8...  2251
99  POLYGON ((145.17156 -37.89345, 145.17195 -37.8...  2084

#### Select only the relevant features from each dataframe

Land Use

In [13]:
# Convert geodataframe to a dataframe 
landuse_df = filtered_gdfs['landuse_gdf']

# landuse features to include 
landuse_features = ['park', 'forest', 'industrial', 'retail', 'residential', 'nature_reserve', 'commercial', 'farmland']

# Filter the dataframe to only include the 'landuse_features'
landuse_df = landuse_df[landuse_df['feature_class'].isin(landuse_features)]

# Change 'residential' to be 'residential land' to avoid name conflicts
landuse_df.loc[:, 'feature_class'] = landuse_df['feature_class'].replace({'residential': 'residential_areas', 'commercial': 'commercial_areas', 
'retail': 'retail_areas', 'industrial': 'industrial_areas'})

print(landuse_df.shape)
print(landuse_df.head())

(80210, 3)
   feature_class gazetted_locality  \
61          park     glen waverley
62          park     glen waverley
63        forest     glen waverley
64          park     glen waverley
65          park     glen waverley

                                             geometry
61  POLYGON ((145.14888 -37.87904, 145.14899 -37.8...
62  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...
63  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...
64  POLYGON ((145.14971 -37.88515, 145.15003 -37.8...
65  POLYGON ((145.15571 -37.88091, 145.15578 -37.8...

Roads

In [14]:
# Convert geodataframe to a dataframe 
roads_df = filtered_gdfs['roads_gdf']

# roads features to include 
roads_features = ['primary', 'tertiary', 'secondary', 'residential',
                'cycleway', 'motorway', 'pedestrian','path', 'footway', 'track']

# Filter the dataframe to only include the 'roads_features'
roads_df = roads_df[roads_df['feature_class'].isin(roads_features)]

# primary', 'tertiary', and 'secondary' = 'main roads' 
roads_df.loc[:, 'feature_class'] = roads_df['feature_class'].replace({'primary': 'main_roads', 'tertiary': 'main_roads', 
'secondary': 'main_roads', 'residential': 'residential_roads', 'pedestrian': 'walking_paths', 'path': 'walking_paths',
'footway': 'walking_paths'})

print(roads_df.shape)
print(roads_df.head())

(595165, 3)
     feature_class gazetted_locality  \
1880    main_roads     hawthorn east
1881    main_roads          hawthorn
1882    main_roads          hawthorn
1883    main_roads          hawthorn
1884    main_roads          hawthorn

                                               geometry
1880  LINESTRING (145.05555 -37.83032, 145.05561 -37...
1881  LINESTRING (145.03561 -37.82122, 145.03562 -37...
1882  LINESTRING (145.03701 -37.8206, 145.03736 -37....
1883  LINESTRING (145.03971 -37.82313, 145.03972 -37...
1884  LINESTRING (145.02378 -37.82126, 145.02384 -37...

Nature

In [15]:
# Convert geodataframe to a dataframe 
natural_df = filtered_gdfs['natural_gdf']

# roads features to include 
nature_features = ['beach', 'cliff', 'spring', 'peak']

# Filter the dataframe to only include the 'nature_features'
natural_df = natural_df[natural_df['feature_class'].isin(nature_features)]

print(natural_df.shape)
print(natural_df.head())

(3238, 3)
    feature_class gazetted_locality  \
96          beach           ventnor
102         beach      smiths beach
112         beach          sorrento
132         beach          brighton
136         beach           ventnor

                                              geometry
96   POLYGON ((145.20014 -38.51713, 145.2008 -38.51...
102  POLYGON ((145.25259 -38.50482, 145.25299 -38.5...
112  POLYGON ((144.72577 -38.34608, 144.72597 -38.3...
132  POLYGON ((144.98556 -37.9264, 144.98559 -37.92...
136  POLYGON ((145.14956 -38.51159, 145.14985 -38.5...

Places of Worship

In [16]:
pofw_categories = {
     "churches": ['christian', 'christian_anglican', 'christian_catholic', 'christian_lutheran', 
                      'christian_orthodox', 'christian_evangelical', 'christian_protestant', 'christian_methodist'],
    "mosques": ['muslim', 'muslim_sunni', 'muslim_shia'],
    "synagogues": ['jewish'],
    "buddhist_temples": ['buddhist'],
    "sikh_gurdwaras": ['sikh'],
    "hindu_temples": ['hindu'],
    "taoist_temples": ['taoist']
}

# Convert geodataframe to a dataframe 
pofw_df = filtered_gdfs['pofw_gdf']

# map each feature to the corresponding category using this reverse mapping dictionary
feature_mapper = {feature: category for category, features in pofw_categories.items() for feature in features}

# Create a new column called categories which acts as a tag for each feature
pofw_df['categories'] = pofw_df['feature_class'].map(feature_mapper)

print(pofw_df.shape)
print(pofw_df.head())

(1684, 4)
        feature_class gazetted_locality  \
0  christian_anglican     glen waverley
1           christian     glen waverley
2  christian_catholic            coburg
3  christian_anglican         melbourne
4  christian_lutheran         southbank

                                            geometry categories
0  POLYGON ((145.17019 -37.8913, 145.17048 -37.88...   churches
1  POLYGON ((145.14844 -37.87265, 145.14847 -37.8...   churches
2  POLYGON ((144.9525 -37.75004, 144.95256 -37.74...   churches
3  POLYGON ((144.96736 -37.81662, 144.96739 -37.8...   churches
4  POLYGON ((144.96685 -37.82063, 144.96688 -37.8...   churches

Places of Interest

In [17]:
# As defined in the data dictionary, define categories based on the first 2 numbers of the code column
def poi_categories(code):
    # The code column is an int, convert to string
    code_str = str(code)
    if code_str.startswith('20'):
        return 'public_facilities'
    elif code_str.startswith('21'):
        return 'healthcare'
    elif code_str.startswith('22'):
        return 'culture_and_leisure'
    elif code_str.startswith('23'):
        return 'food_and_beverage'
    elif code_str.startswith('24'):
        return 'accommodation'
    elif code_str.startswith('25'):
        return 'shopping_and_retail'
    elif code_str.startswith('26'):
        return 'financial_institutions'
    elif code_str.startswith('27'):
        return 'tourism_and_attractions'

# Convert geodataframe to a dataframe 
pois_df = filtered_gdfs['pois_gdf']

# Apply the function based on the code column
pois_df['categories'] = pois_df['code'].apply(poi_categories)

# Drop the code column
pois_df.drop(columns=['code'], inplace=True)

print(pois_df.shape)
print(pois_df.head())

(135592, 4)
    feature_class gazetted_locality  \
95           park     glen waverley
96           park     glen waverley
97           park     glen waverley
98  sports_centre     glen waverley
99        college     glen waverley

                                             geometry           categories
95  POLYGON ((145.14888 -37.87904, 145.14899 -37.8...  culture_and_leisure
96  POLYGON ((145.14631 -37.88405, 145.14649 -37.8...  culture_and_leisure
97  POLYGON ((145.14971 -37.88515, 145.15003 -37.8...  culture_and_leisure
98  POLYGON ((145.15462 -37.88899, 145.15481 -37.8...  culture_and_leisure
99  POLYGON ((145.17156 -37.89345, 145.17195 -37.8...    public_facilities

## Removing Null Values

In [18]:
# List of the OSM dataframes
dfs = [pois_df, pofw_df, roads_df, natural_df, landuse_df]
df_names = ['pois_df', 'pofw_df', 'roads_df', 'natural_df', 'landuse_df']

# Check for null values in each column of the dataframes 
for df, name in zip(dfs, df_names):
    print(f"Null values in {name}:")
    # Find the number of null vals in each col
    null_columns = df.isnull().sum()
    # Filter these cols for the null vals 
    null_columns = null_columns[null_columns > 0]
    print(null_columns if not null_columns.empty else "No null values in any column.")
    print("\n")
    # Drop any rows with null vals 
    df.dropna(inplace=True)

Null values in pois_df:
categories    22456
dtype: int64


Null values in pofw_df:
No null values in any column.


Null values in roads_df:
No null values in any column.


Null values in natural_df:
No null values in any column.


Null values in landuse_df:
No null values in any column.

/var/folders/03/crp2bz8918l1tgr0vbt4jgfh0000gn/T/ipykernel_10327/2979575005.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)
/var/folders/03/crp2bz8918l1tgr0vbt4jgfh0000gn/T/ipykernel_10327/2979575005.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)
/var/folders/03/crp2bz8918l1tgr0vbt4jgfh0000gn/T/ipykernel_10327/2979575005.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

#### Save Dataframes to Raw Folder

In [19]:
# Define the directory path
directory_path = '../../data/raw/urban_landmarks_shp'

# Create the directory if it doesn't exist
if not os.path.exists(directory_path):
    os.makedirs(directory_path)

# Save all dfs as a gdf
for df, name in zip(dfs, df_names):
    gdf = gpd.GeoDataFrame(df)
    gdf.to_file(f"{directory_path.rstrip('/')}/{name}.gpkg", driver='GPKG')

print("All saved!")

/Users/promaali/Desktop/project-2-group-real-estate-industry-project-15/.venv/lib/python3.12/site-packages/pyogrio/raw.py:709: RuntimeWarning: Spatial index (perhaps created with GDAL 3.6.0) of table pois_df is corrupted. Disabling its use. This file should be recreated or its spatial index recreated
  ogr_write(

All saved!

-------

# Feature Engineering

In [20]:
def landmarks_feature_engineering(df, df_name, feature_col='feature_class', suburb_col='gazetted_locality'):
    """
    This function firstly finds the mode feature from the 'feature_class' column for each gazetted_locality. Then 
    for each feature in the 'feature_class' column, it creates a column which stores the counts for that feature 
    based on each suburb. This is done using a pivot table. The function returns a dataframe storing this 
    pivot table with the first column being each gazetted_locality and the consequent columns storing the counts 
    for each feature with the last column storing the feature mode. 
    """
    
    # Find the mode of 'feature_class' for each 'gazetted_locality'
    mode_df = df.groupby(suburb_col)[feature_col].agg(lambda x: x.mode().iloc[0]).reset_index()
    mode_df.rename(columns={feature_col: f"{df_name}_mode"}, inplace=True)
    
    # Create a pivot table to get counts of each 'feature_class' for each 'gazetted_locality'
    counts_df = pd.pivot_table(df, 
                               index=suburb_col, 
                               columns=feature_col, 
                               aggfunc='size', 
                               fill_value=0).reset_index()
    
    # Merge the mode column with the pivot table
    feature_df = pd.merge(counts_df, mode_df, on=suburb_col)
    
    # Return the final result
    return feature_df

In [21]:
landuse_features = landmarks_feature_engineering(landuse_df, df_name='landuse')
roads_features = landmarks_feature_engineering(roads_df, df_name='roads')
nature_features = landmarks_feature_engineering(natural_df, df_name='nature')
pois_features = landmarks_feature_engineering(pois_df, df_name='pois', feature_col='categories')

Places of Worship

In [22]:
# Count the number of places of worship in each GAZLOC
pofw_count = pofw_df.groupby('gazetted_locality').size().reset_index(name='pofw_count')

# Find the most common religous places by category
pofw_mode = pofw_df.groupby('gazetted_locality')['categories'].agg(lambda x: x.mode().iloc[0]).reset_index()

# Merge the most common category with the gazetted_locality counts
pofw_features = pd.merge(pofw_count, pofw_mode, on='gazetted_locality')

# Rename columns for clarity
pofw_features.rename(columns={'categories': 'pofw_mode'}, inplace=True)

print(pofw_features.head())

  gazetted_locality  pofw_count pofw_mode
0        abbotsford           4  churches
1         albanvale           1   mosques
2       albert park           3  churches
3            albion           3  churches
4         alexandra           2  churches

#### Distance Features

In [23]:
# Extract the suburbs from the address column of the properties dataframe 
properties_df['suburb'] = properties_df['address'].str.extract(r',\s*([A-Za-z\s]+)\s*VIC', expand=False)
properties_df['suburb'] = properties_df['suburb'].str.strip().str.lower()

# Extract the coordinates to a geometry column 
properties_df[['latitude', 'longitude']] = properties_df['coordinates'].str.split(',', expand=True).astype(float)

# Convert properties_df to a gdf
properties_gdf = gpd.GeoDataFrame(
    properties_df, 
    geometry=gpd.points_from_xy(properties_df['longitude'], properties_df['latitude']),
    crs="EPSG:4326"  # Assuming WGS84 coordinate system
)

properties_gdf.head()

,url,address,rental_price,rooms,parking,features,desc,availability,bond,property_type,coordinates,suburb,latitude,longitude,geometry
0,https://www.domain.com.au/4012-22-24-jane-bell...,"4012/22-24 Jane Bell Lane, Melbourne VIC 3000",$530 pw,"['1 Bed', '1 Bath']",['1 Parking'],[],This UNFURNISHED one-bedroom apartment is sure...,Available Now,$2303,Apartment / Unit / Flat,"-37.8102191,144.966267",melbourne,-37.810219,144.966267,POINT (144.96627 -37.81022)
1,https://www.domain.com.au/125-131-lonsdale-str...,"125/131 Lonsdale Street, Melbourne VIC 3000",$500 per week,"['1 Bed', '1 Bath']",['− Parking'],[],This inner city spacious and modern 1 bedroom ...,"Available fromMonday, 16th September 2024",$2173,Apartment / Unit / Flat,"-37.810779,144.9685513",melbourne,-37.810779,144.968551,POINT (144.96855 -37.81078)
2,https://www.domain.com.au/2004-618-lonsdale-st...,"2004/618 Lonsdale Street, Melbourne VIC 3000",$470 pw,"['1 Bed', '1 Bath']",['− Parking'],[],Step inside this never been lived in a one-bed...,Available Now,$2042,Apartment / Unit / Flat,"-37.81441450000001,144.9539107",melbourne,-37.814415,144.953911,POINT (144.95391 -37.81441)
3,https://www.domain.com.au/906-238-flinders-str...,"906/238 Flinders Street, Melbourne VIC 3000",$400 per week,"['1 Bed', '1 Bath']",['− Parking'],[],This furnished large size studio has a lot to ...,"Available fromSaturday, 28th September 2024",$1738,Apartment / Unit / Flat,"-37.8175167,144.9664983",melbourne,-37.817517,144.966498,POINT (144.9665 -37.81752)
4,https://www.domain.com.au/715-39-lonsdale-st-m...,"715/39 Lonsdale St, Melbourne VIC 3000",$520 per week,"['2 Beds', '1 Bath']",['− Parking'],[],This fully furnished apartment is in central l...,"Available fromMonday, 30th September 2024",$2260,Apartment / Unit / Flat,"-37.8099061,144.9711071",melbourne,-37.809906,144.971107,POINT (144.97111 -37.80991)

In [24]:
# Convert suburb names and feature_class to lowercase
pois_gdf = filtered_gdfs['pois_gdf']
pois_gdf['gazetted_locality'] = pois_gdf['gazetted_locality'].str.lower()
pois_gdf['feature_class'] = pois_gdf['feature_class'].str.lower()

# Filter the gdf for the feature_class features of interest 
distance_features = [
    'hospital', 'police', 'fire_station', 'kindergarten', 'supermarket',
    'mall', 'library', 'park', 'hotel', 'restaurant']

# For the polygom geometry, calculate the centroid 
pois_gdf['geometry'] = pois_gdf['geometry'].apply(lambda geom: geom.centroid if geom.geom_type == 'Polygon' else geom)

distance_pois = pois_gdf[pois_gdf['feature_class'].isin(distance_features)]

In [25]:
# Convert crs to EPSG:28355 (GDA94 / MGA zone 55) for Melbourne, Australia to get distances in metres
properties_gdf = properties_gdf.to_crs(epsg=28355)
distance_pois = distance_pois.to_crs(epsg=28355)

In [26]:
# Initlaise a list to store the distance from each property to the feature 
distances_list = []

for idx, property_row in properties_gdf.iterrows():
    # Retrieve property geometry and suburb
    property_geom = property_row['geometry']
    property_suburb = property_row['suburb']
    
    # Match on the same subrub 
    suburb_pois = distance_pois[distance_pois['gazetted_locality'] == property_suburb]
    
    if not suburb_pois.empty:
        # based on the feature_class feature, calculate the distance (m) from the property to each POIS
        distances = suburb_pois.copy()
        distances['distance'] = distances['geometry'].apply(lambda x: property_geom.distance(x))
        
        # In the list, store the distance with the corresponding suburb and POIS
        for _, row in distances.iterrows():
            distances_list.append({
                'gazetted_locality': property_suburb,
                'feature_class': row['feature_class'],
                'distance_m': row['distance']  # Distance unit: metres
            })

# List to dataframe 
distances_df = pd.DataFrame(distances_list)

# Distance unit should be in km
distances_df['distance_km'] = distances_df['distance_m'] / 1000

# Calculate the average distance of each suburb to each feature_class feature (km)
average_distances = distances_df.groupby(['gazetted_locality', 'feature_class'])['distance_km'].mean().reset_index()

print(average_distances.head())

  gazetted_locality feature_class  distance_km
0        abbotsford         hotel     0.608855
1        abbotsford  kindergarten     1.002205
2        abbotsford       library     1.353868
3        abbotsford          mall     1.093969
4        abbotsford          park     1.129524

In [27]:
# Pivot the average_distances dataframe so each feature_class is a column
avg_dist_pivot = average_distances.pivot_table(
    index='gazetted_locality',
    columns='feature_class',  
    values='distance_km' 
).reset_index()

# Rename the distance columns according to each feature 
avg_dist_pivot.columns = ['gazetted_locality'] + [f'distance_to_{col}' for col in avg_dist_pivot.columns[1:]]

# Fill all NaN values with 0 to signify no distance 
avg_dist_pivot.fillna(0, inplace=True)

avg_dist_pivot

,gazetted_locality,distance_to_fire_station,distance_to_hospital,distance_to_hotel,distance_to_kindergarten,distance_to_library,distance_to_mall,distance_to_park,distance_to_police,distance_to_restaurant,distance_to_supermarket
0,abbotsford,0.000000,0.000000,0.608855,1.002205,1.353868,1.093969,1.129524,1.239521,1.141601,1.083238
1,aberfeldie,0.000000,0.000000,0.000000,0.749018,0.680236,0.000000,0.707653,0.000000,0.689880,0.725835
2,aintree,0.000000,0.000000,0.000000,0.702519,0.000000,0.000000,1.024680,0.000000,0.566349,0.573841
3,aireys inlet,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.729931,0.000000,0.517279,0.000000
4,airport west,0.000000,0.000000,0.974140,0.523928,0.000000,1.194920,0.704623,0.000000,1.416179,0.933527
...,...,...,...,...,...,...,...,...,...,...,...
706,yarram,1.190234,0.281745,1.098570,0.000000,1.170774,1.065549,1.395001,0.597102,0.000000,1.051537
707,yarraville,0.000000,0.000000,0.000000,0.953363,0.000000,0.000000,1.139454,0.000000,1.032864,0.937960
708,yarrawonga,1.648800,2.078682,2.333090,1.587461,2.248337,0.000000,1.981987,2.907501,5.249796,2.255740
709,yea,0.441206,0.732877,0.515069,0.460175,0.460139,0.000000,0.702149,0.472234,0.456256,0.460624
710,yinnar,1.514709,0.000000,0.000000,0.000000,0.000000,0.000000,0.935183,0.000000,0.000000,0.000000

#### Create Final Feature Set

In [28]:
# Use an outer join to merge all the seperate feature dataframes on the 'gazetted_locality' column
urban_landmarks_features = landuse_features.merge(roads_features, on='gazetted_locality', how='outer')
urban_landmarks_features = urban_landmarks_features.merge(nature_features, on='gazetted_locality', how='outer')
urban_landmarks_features = urban_landmarks_features.merge(pois_features, on='gazetted_locality', how='outer')
urban_landmarks_features = urban_landmarks_features.merge(pofw_features, on='gazetted_locality', how='outer')
urban_landmarks_features = urban_landmarks_features.merge(avg_dist_pivot, on='gazetted_locality', how='outer')

# Fill Nan vals with 0
urban_landmarks_features.fillna(0, inplace=True)

print(urban_landmarks_features.head())
print(urban_landmarks_features.columns)

  gazetted_locality  commercial_areas  farmland  forest  industrial_areas  \
0          abbeyard               0.0       0.0     8.0               0.0
1        abbotsford              17.0       4.0     2.0               6.0
2        aberfeldie               0.0       0.0     0.0               0.0
3         aberfeldy               0.0       0.0     2.0               0.0
4           acheron               0.0       0.0     3.0               0.0

   nature_reserve  park  residential_areas  retail_areas       landuse_mode  \
0             7.0   0.0                0.0           0.0             forest
1             1.0  15.0               53.0          10.0  residential_areas
2             0.0   6.0                2.0           3.0               park
3             0.0   0.0                0.0           0.0             forest
4             1.0   0.0                0.0           0.0             forest

   ...  distance_to_fire_station  distance_to_hospital  distance_to_hotel  \
0  ...                       0.0                   0.0           0.000000
1  ...                       0.0                   0.0           0.608855
2  ...                       0.0                   0.0           0.000000
3  ...                       0.0                   0.0           0.000000
4  ...                       0.0                   0.0           0.000000

   distance_to_kindergarten  distance_to_library  distance_to_mall  \
0                  0.000000             0.000000          0.000000
1                  1.002205             1.353868          1.093969
2                  0.749018             0.680236          0.000000
3                  0.000000             0.000000          0.000000
4                  0.000000             0.000000          0.000000

  distance_to_park  distance_to_police  distance_to_restaurant  \
0         0.000000            0.000000                0.000000
1         1.129524            1.239521                1.141601
2         0.707653            0.000000                0.689880
3         0.000000            0.000000                0.000000
4         0.000000            0.000000                0.000000

   distance_to_supermarket
0                 0.000000
1                 1.083238
2                 0.725835
3                 0.000000
4                 0.000000

[5 rows x 43 columns]
Index(['gazetted_locality', 'commercial_areas', 'farmland', 'forest',
       'industrial_areas', 'nature_reserve', 'park', 'residential_areas',
       'retail_areas', 'landuse_mode', 'cycleway', 'main_roads', 'motorway',
       'residential_roads', 'track', 'walking_paths', 'roads_mode', 'beach',
       'cliff', 'peak', 'spring', 'nature_mode', 'accommodation',
       'culture_and_leisure', 'financial_institutions', 'food_and_beverage',
       'healthcare', 'public_facilities', 'shopping_and_retail',
       'tourism_and_attractions', 'pois_mode', 'pofw_count', 'pofw_mode',
       'distance_to_fire_station', 'distance_to_hospital', 'distance_to_hotel',
       'distance_to_kindergarten', 'distance_to_library', 'distance_to_mall',
       'distance_to_park', 'distance_to_police', 'distance_to_restaurant',
       'distance_to_supermarket'],
      dtype='object')

#### Apply Numerical Indexing to the Mode Columns

In [29]:
# Find all mode columns which end in'_mode'
mode_cols = [col for col in urban_landmarks_features.columns if col.endswith('_mode')]

mode_encoder = {}  # Store the encoders for later reverse transformations

for col in mode_cols:
    encoder = LabelEncoder()

    # Ensure all mode columns are strings 
    urban_landmarks_features[col] = urban_landmarks_features[col].astype(str)
    
    # Numerically encode each column
    urban_landmarks_features[col] = encoder.fit_transform(urban_landmarks_features[col])
    mode_encoder[col] = encoder

#### Save Final Feature Set

In [30]:
# Save df to a CSV file
urban_landmarks_features.to_csv('../../data/curated/urban_landmarks.csv', index=False)

print("All Saved!")

All Saved!