## Import Libraries & Data

In [4]:
import pandas as pd

In [8]:
# Merged Rental History Feature Sets
one_bed_flat_merged = pd.read_csv('../data/curated/merged_feature_set/one_bed_flat_merged.csv')
two_bed_flat_merged = pd.read_csv('../data/curated/merged_feature_set/two_bed_flat_merged.csv')
three_bed_flat_merged = pd.read_csv('../data/curated/merged_feature_set/three_bed_flat_merged.csv')
two_bed_house_merged = pd.read_csv('../data/curated/merged_feature_set/two_bed_house_merged.csv')
three_bed_house_merged = pd.read_csv('../data/curated/merged_feature_set/three_bed_house_merged.csv')
four_bed_house_merged = pd.read_csv('../data/curated/merged_feature_set/four_bed_house_merged.csv')
all_properties_merged = pd.read_csv('../data/curated/merged_feature_set/all_properties_merged.csv')

,suburb,year,dec_median,jun_median,mar_median,sep_median,offence_division_1,offence_division_2,offence_division_3,offence_division_4,...,distance_to_restaurant,distance_to_supermarket,nearest_transport_avg_distance,distance_to_cbd,median_bath,median_parkings,furnished_count,unfurnished_count,pets_allowed,pets_not_allowed
0,abbotsford,2016,450.0,450.0,450.0,450.0,107.0,1065.0,76.0,59.0,...,1.141601,1.083238,1.110000,5.55,1,1,5,54,11,48
1,abbotsford,2017,480.0,460.0,450.0,465.0,138.0,1019.0,64.0,69.0,...,1.141601,1.083238,1.110000,5.55,1,1,5,54,11,48
2,abbotsford,2018,490.0,480.0,480.0,480.0,100.0,1162.0,88.0,84.0,...,1.141601,1.083238,1.110000,5.55,1,1,5,54,11,48
3,abbotsford,2019,500.0,500.0,495.0,500.0,175.0,1053.0,178.0,114.0,...,1.141601,1.083238,1.110000,5.55,1,1,5,54,11,48
4,abbotsford,2020,460.0,495.0,500.0,480.0,145.0,985.0,151.0,89.0,...,1.141601,1.083238,1.110000,5.55,1,1,5,54,11,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,yarraville,2023,550.0,510.0,495.0,530.0,96.0,633.0,68.0,31.0,...,1.032864,0.937960,1.826667,10.21,1,1,1,56,17,40
2372,yarraville,2024,570.0,570.0,570.0,620.0,101.0,607.0,60.0,40.0,...,1.032864,0.937960,1.826667,10.21,1,1,1,56,17,40
2373,yarraville,2025,NaN,NaN,NaN,NaN,102.0,604.0,63.0,40.0,...,1.032864,0.937960,1.826667,10.21,1,1,1,56,17,40
2374,yarraville,2026,NaN,NaN,NaN,NaN,103.0,600.0,65.0,39.0,...,1.032864,0.937960,1.826667,10.21,1,1,1,56,17,40
2375,yarraville,2027,NaN,NaN,NaN,NaN,104.0,597.0,68.0,38.0,...,1.032864,0.937960,1.826667,10.21,1,1,1,56,17,40